/k6
/k6.exe
/dist
/pkg-build
/js/tc39/TestTC39

.vscode
*.sublime-workspace
*.log
*.syso
.idea
*.DS_Store

/versioninfo.json

# Vendor folders
vendor/

/packaging/.env
/packaging/*.gpg

/venv/

*private*

main

# In case a go file has private in its name
!*.go

worker_function

key.json