<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      ***REMOVED******REMOVED***#link-to 'index' class="navbar-brand"***REMOVED******REMOVED***k6***REMOVED******REMOVED***/link-to***REMOVED******REMOVED***
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <form class="navbar-form navbar-right">
      ***REMOVED******REMOVED***#if paused***REMOVED******REMOVED***
        <button class="btn btn-success" ***REMOVED******REMOVED***action 'resume'***REMOVED******REMOVED***>Resume</button>
      ***REMOVED******REMOVED***/if***REMOVED******REMOVED***
      ***REMOVED******REMOVED***#unless paused***REMOVED******REMOVED***
        <button class="btn btn-danger" ***REMOVED******REMOVED***action 'pause'***REMOVED******REMOVED***>Pause</button>
      ***REMOVED******REMOVED***/unless***REMOVED******REMOVED***
      </form>
    </div>
  </div>
</nav>

<div class="container">
  ***REMOVED******REMOVED***#each flashMessages.queue as |flash|***REMOVED******REMOVED***
    ***REMOVED******REMOVED***flash-message flash=flash***REMOVED******REMOVED***
  ***REMOVED******REMOVED***/each***REMOVED******REMOVED***

  ***REMOVED******REMOVED***outlet***REMOVED******REMOVED***
</div>
