<div class="row">
  <div class="col-md-6 col-md-push-6">
    <h4>Active VUs <small><a href="#">click to scale</a></small></h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" arial-valuenow="***REMOVED******REMOVED*** vus ***REMOVED******REMOVED***" aria-valuemin="0" aria-valuemax="***REMOVED******REMOVED*** vus_max ***REMOVED******REMOVED***" style="width: ***REMOVED******REMOVED*** vus_pct ***REMOVED******REMOVED***%;">***REMOVED******REMOVED*** vus ***REMOVED******REMOVED***/***REMOVED******REMOVED*** vus_max ***REMOVED******REMOVED***</div>
    </div>

    <ul class="list-group">
      ***REMOVED******REMOVED***#each metrics as |metric|***REMOVED******REMOVED***
      <li class="list-group-item metrics clearfix">
        <span class="name">***REMOVED******REMOVED***metric.name***REMOVED******REMOVED***</span>
        <span class="results pull-right">
          ***REMOVED******REMOVED***#each-in metric.data as |key value| ***REMOVED******REMOVED***
          <span class="key">***REMOVED******REMOVED***key***REMOVED******REMOVED***=</span><span class="value">***REMOVED******REMOVED***metric-format value metric.contains***REMOVED******REMOVED***</span>
          ***REMOVED******REMOVED***/each-in***REMOVED******REMOVED***
        </span>
      </li>
      ***REMOVED******REMOVED***/each***REMOVED******REMOVED***
    </ul>
  </div>
  <div class="col-md-6 col-md-pull-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Group 1
          <span class="pull-right results"><span class="key">count=</span><span class="value">550</span></span>
        </h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="name">Test 1</span>
          <span class="results pull-right">
            <span class="key">pass=</span><span class="value text-success">500</span>
            <span class="key">fail=</span><span class="value text-danger">50</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
