<div class="panel panel-default">
  ***REMOVED******REMOVED***#if group.name***REMOVED******REMOVED***
  <div class="panel-heading">
    <h3 class="panel-title">***REMOVED******REMOVED***group.name***REMOVED******REMOVED***</h3>
  </div>
  ***REMOVED******REMOVED***/if***REMOVED******REMOVED***

  ***REMOVED******REMOVED***sb-test-list tests=group.testsSorted***REMOVED******REMOVED***
</div>

<div class="nesting">
***REMOVED******REMOVED***#each group.groups as |g|***REMOVED******REMOVED***
  ***REMOVED******REMOVED***sb-group group=g***REMOVED******REMOVED***
***REMOVED******REMOVED***/each***REMOVED******REMOVED***
</div>
