<span class="name">***REMOVED******REMOVED***test.name***REMOVED******REMOVED***</span>
<span class="results pull-right">
  <span class="key">pass=</span><span class="value text-success">***REMOVED******REMOVED***test.passes***REMOVED******REMOVED***</span>
  <span class="key">fail=</span><span class="value text-danger">***REMOVED******REMOVED***test.fails***REMOVED******REMOVED***</span>
</span>
